<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Total amount of czech farm subsidy by EU</title>
  </head>
  <body>
    <h1><%= "Czech Republic gets a total amount #{@money.format} farmsubsidy from the EU!" %></h1>
  </body>
</html>
